/* font-family: 'Londrina Outline', cursive;
font-family: 'Orbitron', sans-serif; */

body{
    background: black;
}

.fecha{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase; /*para que se ponga en mayus*/
    font-size: 32px;
    color: white;
}

.hora{
    font-family: 'Londrina Outline', cursive;
    text-transform: uppercase; /*para que se ponga en mayus*/
    font-size: 60px;
    color: #fff;
    letter-spacing: 5px;
}

.pink {
    text-shadow: 
        0 0 5px #FF7BAC,
        0 0 10px #FF7BAC,
        0 0 20px #FF7BAC,
        0 0 40px #FF7BAC,
        0 0 80px #FF7BAC,
        0 0 90px #FF7BAC,
        0 0 100px #FF7BAC,
        0 0 150px #FF7BAC;
}
.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}
.green {
    text-shadow: 
        0 0 5px #7BFFCE,
        0 0 10px #7BFFCE,
        0 0 20px #7BFFCE,
        0 0 40px #7BFFCE,
        0 0 80px #7BFFCE,
        0 0 90px #7BFFCE,
        0 0 100px #7BFFCE,
        0 0 150px #7BFFCE;
}

@media all and (max-width: 600px){
    .fecha{
        font-size: 15px;
    }

    .hora{
        font-size: 35px;
    }
}

@media all and (min-width: 600px) and (max-width: 767px){
    .fecha{
        font-size: 25px;
    }

    .hora{
        font-size: 45px;
    }
}

@media all and (min-width: 768px) and (max-width: 992px){
    .fecha{
        font-size: 32px;
    }

    .hora{
        font-size: 60px;
    }
}
